* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

/* App.css 혹은 GlobalStyle */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}